<div class="cocktail-banner">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="container container-show">
  <div class="row">
    <div class="col-lg-6">
      <div class="ingredient-list-container">
        <h3>Ingredients</h3>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= @ingredients[dose.ingredient_id - 1].name %> - <%= dose.description %>
            <%= link_to dose_path(dose.id), method: :delete, data: {confirm: "Delete this ingredient?"} do %>
             <i class="fas fa-trash-alt"></i>
             <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="add-ingredient-container">
        <h3>Add an Ingredient</h3>
        <%= simple_form_for([@cocktail, @dose]) do |f| %>
          <%= f.input :description %>
          <%= f.input :ingredient_id, collection: @ingredients %>
          <%= f.submit 'Add Ingredient', { class: 'btn btn-info' }%>
        <% end %>
      </div>
    </div>
  </div>
</div>
